version: "3"
services:
  redis:
    #cpu_percent: 20
    #mem_limit: 256m
    image: redis:3
    ports:
      - "6380:6379"
    command: [
          "bash", "-c",
          '
           docker-entrypoint.sh
           --requirepass ${REDIS_PSWD}
           --appendonly yes
          '
    ]
    volumes:
      - './var/db/redis/data:/data'
  php-fpm:
    #cpu_percent: 15
    #mem_limit: 256m
    build:
      context: ./docker/local
      dockerfile: dockerfile-php7-fpm
    #ports:
    #  - "9000:9000"
    volumes:
      - '.:/var/www/golos-event-listener'
    environment:
      - NODE_ENV=production
      - REDIS_PSWD=${REDIS_PSWD}
      - REWARD_POOL_NAME=${REWARD_POOL_NAME}
      - REWARD_POOL_WIF=${REWARD_POOL_WIF}
      - LAST_BLOCK=${LAST_BLOCK}
    depends_on:
      - "redis"
  cron:
    build:
      context: ./docker/local
      dockerfile: dockerfile-cron
    volumes:
      - './var/log/cron:/var/log/cron'
      - '/var/run/docker.sock:/var/run/docker.sock'
    command:
      - 'start-cron'
      - '\*/10 \* \* \* \* /usr/local/bin/docker exec --user www-data -i steem-rating-auto-reward_php-fpm_1 bash -c "php /var/www/golos-event-listener/StartApp.php" >> /var/log/cron/cron-auto-reward.log 2>&1'
    depends_on:
      - "php-fpm"
      - "redis"